* {
  padding: 0px;
  margin: 0px;
}

header, main, footer {
  width: 80%;
  margin-left: 10%;
}

header, main {
  background-color: #ffffffcc;
}

main {
  padding: 20px;
  background-color: rgba(194, 208, 255, 0.829);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 80px;
  padding: 20px;
  box-sizing: border-box;
}


footer {
  background-color: rgba(255, 255, 255, 0.315);
  color: rgb(21, 20, 22);
  padding: 20px;
}

header, header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
}

.menuli{
  margin-right: 10px ;
  margin-left: 10px;
  padding: 10px;
  border-radius: 5px;

  background-color: rgb(175, 175, 255);
  color: white;
  height: 20px;

  align-items: center;
}

.menuli:hover {
  background-color: rgb(163, 2, 168);
}

a {
  text-decoration: none;
  color: white;
}

li img {
  height: 20px;
  width: 20px;
}

article {
  padding: 30px;
  margin: 60px;
}

article > p {
  padding: 20px;
}

p> span {
  color: blue;
  font-weight: 1000;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 20px;
}

p> span {
  display: inline-flex;
}

section {
  margin: 20px;
  padding: 20px 40px;
  background-color:aliceblue;
  border-radius: 20px;
}

h2 {
  padding-bottom: 20px;
}

.secDiv{
  display: flex;
  flex-direction: row;
}

.secDiv img {
  width: 50%;
  border-radius: 10%;
}

.secDiv > p {
  width: 80%;
  font-size: medium;
  color:rgb(0, 0, 0);
}

@media screen and (max-width :1024px){
  header, main, footer {
    width: 100%;
    margin-left: opx;
  }
}

@media screen and (max-width :768px){
  header, header ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    }
header {
  height: auto;
  padding: 20px;
width: 100%;
}
header li{
  width: 90%;
  margin-bottom: 9px;
}

  }
  
}