header {
  background-color: #f1bb88cc;
}

main {
  background-color: rgb(255, 255, 255);
}


footer {
  background-color: rgba(64, 173, 13, 0.315);
  color: blueviolet;
}

#menu >li{
  background-color: rgb(79, 42, 212);
  color: rgb(255, 255, 255);
}

#menu >a {
  color: rgb(255, 255, 255);
}

section {
  background-color: white;
}

.s1 {
  background-color: crimson;
}

.s2 {
  background-color: cyan;
}