
header {
  background-color: rgb(255, 254, 183);
 
}

.menuli {
  background-color: rgb(247, 232, 22);
  align-items: center;
  border-radius: 5px;
  padding: 15px;
}

body ul {
  justify-content: center;
  padding: 10px;

}

.menuli:hover {
  background-color: rgb(226, 192, 0);
}
