.sec {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  background-color: rgb(123, 164, 252);
}

.sec > input {
  width: 40%;
  height: 30px;
  margin: 10px;
}

#text2 {
  background-color: rgb(194, 226, 245);
}

.sec >button {
  width: 30%;
  margin: 5px;
}