.dice {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.dice span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: large;
  font-weight: bold;
  margin-bottom: 10px;
}
.dice p {
  margin: 20px;
}

#msg {
  width: 90%;
  height: 60px;
  background-color: beige;
  border: 1px dotted blue;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
}